{
  "log-driver": "json-file",
  "log-opts": { "max-size": "10m", "max-file": "5" },
  "dns": ["8.8.8.8", "1.1.1.1"],
  "bip": "172.17.0.1/16",
  "builder": {
    "gc": {
      "enabled": true,
      "defaultReservedSpace": "10GB",
      "policy": [
        {
          "keepDuration": "168h",
          "filter": ["type==source.local,type==exec.cachemount"],
          "maxUsedSpace": "2GB"
        },
        { "keepDuration": "168h", "maxUsedSpace": "20GB" },
        { "all": true, "reservedSpace": "5GB", "minFreeSpace": "20GB", "maxUsedSpace": "30GB" }
      ]
    }
  }
}
